.h-c {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.h-card {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  align-items: center;
}

.h-h1 {
  color: #1e293b;
  font-size: 35px;
  font-weight: 500;
}

.img1 {
  width: 100%;
}

.d-h-h1 {
  color: #ffffff;
}
.l-h-h1 {
  color: #1e293b;
}
.d-h-c {
  background-color: #000000;
}
